In [ ]:
  #1. Write a program to reverse a string

In [ ]:
def reverse_string(x):
  return x[::-1]

x=input("enter a string:")
result=reverse_string(x)
print("reversed_str:",result)

enter a string:hardik
reversed_str: kidrah

In [ ]:
#2. Check if a string is a palindrome.

In [ ]:
def padindrome(y):
  return y[::-1]

y=input("enter a string:")
result=padindrome(y)
if y==result:
  print("yes string is a palidrome")
else:
  print("no string is not a palidrome")

enter a string:level
yes string is a palidrome

In [ ]:
#3. Convert a string to uppercase.

In [ ]:
def uppercase(a):
  return a.upper()

a=input("enter a string: ")
upper=uppercase(a)
print(upper)

enter a string: tickle
TICKLE

In [ ]:
#4. Convert a string to lowercase.

In [ ]:
def lowercase(a):
  return a.lower()

a=input("enter a string: ")
lower=lowercase(a)
print(lower)

enter a string: GUY
guy

In [ ]:
#5. Count the number of vowels in a string

In [ ]:
def countvowel(x):
  vowel="AEIOUaeiou"
  count=0

  for i in x:
    if i in vowel:
      count+=1
  return count

In [ ]:
countvowel("my name is hardik")

5

In [ ]:
# Count the number of consonants in a string.

In [ ]:
def countconstant(x):
  notconstant="aeiouAEIOU "
  count=0

  for i in x:
    if i not in notconstant:
      count+=1
  return count

In [ ]:
countconstant("my name is hardik")

9

In [ ]:
#Remove all whitespaces from a string.

In [ ]:
def remove(x):

In [ ]:
#8. Find the length of a string without using the `len()` function.

In [ ]:
def lenght(x):
  count=0

  for i in x:
    count+=1
  return count

In [ ]:
lenght("chalo aaj sa serious padai chalu")

32

In [ ]:
#9. Check if a string contains a specific word.

In [ ]:
def find(x,y):
  return y in x
  if y in x:
    print("yes string contains the word")
  else:
    print("no string does not contains the word")

In [ ]:
find("my name is hardik","hardik")

True

In [ ]:
#Replace a word in a string with another word

In [ ]:
def replaced_word(x, y, z):
    replace_str = x.replace(y, z)
    return replace_str

# Define the values of x, y, and z
x = input("enter original string:")
y = input("word to be replaced:")
z = input("new word:")

result = replaced_word(x, y, z)
print(result)

enter original string:my name is hardik
word to be replaced:hardik
new word:kaka
my name is kaka

In [ ]:
#. Count the occurrences of a word in a string.

In [ ]:
def count_word(x, y):
    return x.lower().count(y.lower())

# Taking user input for original string and word to be counted
x = input("Enter the original string: ")
y = input("Enter the word to be counted: ")

result = count_word(x, y)
print(f"The word '{y}' appears {result} times in the string.")

Enter the original string: This is a sample sentence. This sentence is a sample
Enter the word to be counted: sample
The word 'sample' appears 2 times in the string.

In [ ]:
#Find the first occurrence of a word in a string

In [ ]:
def first_occurrence(x,y):
  index=x.lower().find(y.lower())
  if index != -1:
    return f"the word is in {index} index"
  else:
    return f"the word is not found"

x=input("Enter the original string: ")
y=input("word to be found: ")

result=first_occurrence(x,y)
print(result)

Enter the original string: This is a sample sentence. This sentence is a sample
word to be found: sample
the word is in 10 index

In [ ]:
#Find the last occurrence of a word in a string

In [ ]:
def last_occerrence(x,y):
  index=x.lower().rfind(y.lower())

  if index != -1:
    return f"the word is in {index} index"
  else:
    return f"the word is not in string"
x=input("Enter the original string: ")
y=input("word to be found: ")

result=last_occerrence(x,y)
print(result)

Enter the original string: This is a sample sentence. This sentence is a sample
word to be found: sample
the word is in 46 index

In [ ]:
# Split a string into a list of words.

In [ ]:
x="my name is hardik lalwani"
y=x.split(' ')
print("words after split:",y)

words after split: ['my', 'name', 'is', 'hardik', 'lalwani']

In [ ]:
#Join a list of words into a string.

In [ ]:
x= ['my', 'name', 'is', 'hardik', 'lalwani']
y=' '.join(x)
print("joined string:",y)

joined string: my name is hardik lalwani

In [ ]:
#. Convert a string where words are separated by spaces to one where words
#are separated by underscores.

In [ ]:
x="chalo ab chalta hai"
y=x.replace(' ','_')
print("new string:",y)

new string: chalo_ab_chalta_hai

In [ ]:
#Check if a string starts with a specific word or phrase.

In [ ]:
def check_first(x,y):
  return x.lower().startswith(y.lower())


x=input("input paragraph: ")
y=input("input first word: ")
result=check_first(x,y)
if result:
  print("the string starts with word which is ",y)
else:
  print("the string does not start with word same as ",y)

input paragraph: hum chalanga ssath saath
input first word: hum
the string starts with word which is  hum

In [ ]:
#Check if a string ends with a specific word or phrase

In [ ]:
def check_last(x,y):
  return x.lower().endswith(y.lower())


x=input("input paragraph: ")
y=input("input last word: ")
result=check_last(x,y)
if result:
  print("the string ends with word which is ",y)
else:
  print("the string does not ends with word same as ",y)

input paragraph: ghoda paucha mandi
input last word: mandi
the string ends with word which is  mandi

In [ ]:
#Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
input_string = "hello world"
title_case_string = input_string.title()

print(title_case_string)

Hello World

In [ ]:
#Find the longest word in a string

In [ ]:
def find_longest_word(input_string):
    words = input_string.split()
    longest_word = max(words, key=len)
    return longest_word

input_string = "This is a sample sentence with some long words"
result = find_longest_word(input_string)

print("Longest word:", result)

Longest word: sentence

In [ ]:
# Find the shortest word in a string.

In [ ]:
def find_shortest_word(input_string):
    words = input_string.split()
    shortest_word = min(words, key=len)
    return shortest_word

input_string = "This is a sample sentence with some short words"
result = find_shortest_word(input_string)

print("Shortest word:", result)

Shortest word: a

In [ ]:
#Reverse the order of words in a string

In [ ]:
def reverse_words(input_string):
    words = input_string.split()
    reversed_string = ' '.join(reversed(words))
    return reversed_string

input_string = "This is a sample sentence"
result = reverse_words(input_string)

print("Reversed words:", result)

Reversed words: sentence sample a is This

In [ ]:
#Check if a string is alphanumeric

In [ ]:
def is_alphanumeric(input_string):
    return input_string.isalnum()

input_string = "Hello123"
result = is_alphanumeric(input_string)

if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

In [ ]:
# Extract all digits from a string.

In [ ]:
def extract_digits(input_string):
    return [char for char in input_string if char.isdigit()]

input_string = "Hello123World456"
result = extract_digits(input_string)

print("Digits extracted:", ''.join(result))

Digits extracted: 123456

In [ ]:
#Extract all alphabets from a string.

In [ ]:
def extract_alphabets(input_string):
    return [char for char in input_string if char.isalpha()]

input_string = "Hello123World456"
result = extract_alphabets(input_string)

print("Alphabets extracted:", ''.join(result))

Alphabets extracted: HelloWorld

In [ ]:
#Count the number of uppercase letters in a string.

In [ ]:
def count_uppercase_letters(input_string):
    count = 0
    for char in input_string:
        if char.isupper():
            count += 1
    return count

input_string = "Hello World"
result = count_uppercase_letters(input_string)

print("Number of uppercase letters:", result)

Number of uppercase letters: 2

In [ ]:
#Count the number of lowercase letters in a string

In [ ]:
def count_lowercase_letters(input_string):
    count = 0
    for char in input_string:
        if char.islower():
            count += 1
    return count

input_string = "Hello World"
result = count_lowercase_letters(input_string)

print("Number of lowercase letters:", result)

Number of lowercase letters: 8

In [ ]:
#Swap the case of each character in a string.

In [ ]:
def swap_case(input_string):
    return input_string.swapcase()

input_string = "Hello World"
result = swap_case(input_string)

print("Swapped case:", result)

Swapped case: hELLO wORLD

In [ ]:
#Remove a specific word from a string

In [ ]:
def remove_word(input_string, word_to_remove):
    return input_string.replace(word_to_remove, '')

input_string = "This is a sample sentence with a specific word."
word_to_remove = "specific"
result = remove_word(input_string, word_to_remove)

print("String after removing the word:", result)

String after removing the word: This is a sample sentence with a  word.

In [ ]:
#Check if a string is a valid email address.

In [ ]:
import re

def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, email) is not None

email = "example@example.com"
if is_valid_email(email):
    print("Valid email address")
else:
    print("Invalid email address")

Valid email address

In [ ]:
#Extract the username from an email address string.

In [ ]:
def extract_username(email):
    # Split the email address at the '@' symbol
    parts = email.split('@')

    # Check if the email has the expected format
    if len(parts) == 2:
        return parts[0]
    else:
        return None

# Example usage
email_address = "user@example.com"
username = extract_username(email_address)

if username:
    print("Username:", username)
else:
    print("Invalid email address.")

Username: user

In [ ]:
#Extract the domain name from an email address string.

In [ ]:
def extract_domain(email):
    # Split the email address at the '@' symbol
    parts = email.split('@')

    # Check if the email has the expected format
    if len(parts) == 2:
        return parts[1]
    else:
        return None

# Example usage
email_address = "user@example.com"
domain = extract_domain(email_address)

if domain:
    print("Domain:", domain)
else:
    print("Invalid email address.")

Domain: example.com

In [ ]:
#Replace multiple spaces in a string with a single space.

In [ ]:
import re

def replace_multiple_spaces(input_string):
    # Use regular expression to replace multiple spaces with a single space
    return re.sub(r'\s+', ' ', input_string)

# Example usage
original_string = "This   is   a   string    with   multiple     spaces."
modified_string = replace_multiple_spaces(original_string)

print("Original string:", original_string)
print("Modified string:", modified_string)

Original string: This   is   a   string    with   multiple     spaces.
Modified string: This is a string with multiple spaces.

In [ ]:
#Check if a string is a valid URL

In [ ]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Example usage
url_to_check = "https://www.example.com"
if is_valid_url(url_to_check):
    print("The URL is valid.")
else:
    print("The URL is not valid.")

The URL is valid.

In [ ]:
#Extract the protocol (http or https) from a URL string

In [ ]:
from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme if parsed_url.scheme else None

# Example usage
url_to_check = "https://www.example.com"
protocol = extract_protocol(url_to_check)

if protocol:
    print("Protocol:", protocol)
else:
    print("Invalid URL.")

Protocol: https

In [ ]:
#Find the frequency of each character in a string.

In [ ]:
def character_frequency(input_string):
    frequency_dict = {}

    for char in input_string:
        if char in frequency_dict:
            frequency_dict[char] += 1
        else:
            frequency_dict[char] = 1

    return frequency_dict

# Example usage
input_string = "hello world"
result = character_frequency(input_string)

for char, count in result.items():
    print(f"Character: {char}, Frequency: {count}")

Character: h, Frequency: 1
Character: e, Frequency: 1
Character: l, Frequency: 3
Character: o, Frequency: 2
Character:  , Frequency: 1
Character: w, Frequency: 1
Character: r, Frequency: 1
Character: d, Frequency: 1

In [ ]:
# Remove all punctuation from a string.

In [ ]:
import string

def remove_punctuation(input_string):
    # Create a translation table to map punctuation to None
    translation_table = str.maketrans("", "", string.punctuation)

    # Use translate to remove punctuation
    cleaned_string = input_string.translate(translation_table)

    return cleaned_string

# Example usage
input_string = "Hello, world! How are you today?"
result = remove_punctuation(input_string)

print("Original string:", input_string)
print("String without punctuation:", result)

Original string: Hello, world! How are you today?
String without punctuation: Hello world How are you today

In [ ]:
#Check if a string contains only digits.

In [ ]:
def contains_only_digits(input_string):
    return input_string.isdigit()

# Example usage
string1 = "12345"
string2 = "abc123"

print(f"{string1} contains only digits: {contains_only_digits(string1)}")
print(f"{string2} contains only digits: {contains_only_digits(string2)}")

12345 contains only digits: True
abc123 contains only digits: False

In [ ]:
#Check if a string contains only alphabets.

In [ ]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

# Example usage
string1 = "Hello"
string2 = "Hello123"

print(f"{string1} contains only alphabets: {contains_only_alphabets(string1)}")
print(f"{string2} contains only alphabets: {contains_only_alphabets(string2)}")

Hello contains only alphabets: True
Hello123 contains only alphabets: False

In [ ]:
#Convert a string to a list of characters

In [ ]:
input_string = "Hello World"
character_list = list(input_string)

print("String:", input_string)
print("List of characters:", character_list)

String: Hello World
List of characters: ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [ ]:
#Check if two strings are anagram

In [ ]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase for a case-insensitive comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if the sorted characters of both strings are the same
    return sorted(str1) == sorted(str2)

# Example usage
string1 = "listen"
string2 = "silent"

if are_anagrams(string1, string2):
    print(f"{string1} and {string2} are anagrams.")
else:
    print(f"{string1} and {string2} are not anagrams.")

listen and silent are anagrams.

In [ ]:
#Encode a string using a Caesar cipher.

In [ ]:
def caesar_cipher_encrypt(plaintext, shift):
    ciphertext = ''
    for char in plaintext:
        if char.isalpha():  # Check if the character is an alphabet letter
            shifted_char = chr((ord(char) - ord('a' if char.islower() else 'A') + shift) % 26 + ord('a' if char.islower() else 'A'))
            ciphertext += shifted_char
        else:
            ciphertext += char  # If the character is not an alphabet letter, keep it unchanged
    return ciphertext

# Example usage
plaintext = "Hello, World!"
shift = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift)
print("Original text:", plaintext)
print("Encrypted text:", encrypted_text)

Original text: Hello, World!
Encrypted text: Khoor, Zruog!

In [ ]:
#Decode a Caesar cipher encoded string

In [ ]:
def caesar_cipher_decrypt(ciphertext, shift):
    return caesar_cipher_encrypt(ciphertext, -shift)

# Example usage
ciphertext = "Khoor, Zruog!"
shift = 3
decrypted_text = caesar_cipher_decrypt(ciphertext, shift)

print("Ciphertext:", ciphertext)
print(f"Decrypted text (Shift = {shift}):", decrypted_text)

Ciphertext: Khoor, Zruog!
Decrypted text (Shift = 3): Hello, World!

In [ ]:
#Find the most frequent word in a string.

In [ ]:
from collections import Counter
import re

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    cleaned_string = re.sub(r'[^\w\s]', '', input_string.lower())

    # Split the string into words
    words = cleaned_string.split()

    # Use Counter to count word frequencies
    word_counts = Counter(words)

    # Find the most frequent word
    most_frequent = word_counts.most_common(1)

    return most_frequent[0][0] if most_frequent else None

# Example usage
input_string = "This is a sample string. It contains some words, and some words are repeated. Words!"
result = most_frequent_word(input_string)

if result:
    print("Most frequent word:", result)
else:
    print("No words in the input string.")

Most frequent word: words

In [ ]:
#Find all unique words in a string

In [ ]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    cleaned_string = re.sub(r'[^\w\s]', '', input_string.lower())

    # Split the string into words and convert to a set to get unique words
    unique_word_set = set(cleaned_string.split())

    return unique_word_set

# Example usage
input_string = "This is a sample string. It contains some words, and some words are repeated. Words!"
result = unique_words(input_string)

if result:
    print("Unique words:", result)
else:
    print("No words in the input string.")

Unique words: {'this', 'is', 'are', 'string', 'a', 'some', 'words', 'and', 'it', 'repeated', 'contains', 'sample'}

In [ ]:
#Count the number of syllables in a string.

In [ ]:
def count_syllables(word):
    vowels = "aeiouy"
    count = 0

    # Check each character in the word
    for char in word.lower():
        if char in vowels:
            count += 1

    # Adjust for silent 'e' at the end of the word
    if word.endswith('e') and count > 1:
        count -= 1

    return count

def count_syllables_in_string(input_string):
    words = input_string.split()
    total_syllables = sum(count_syllables(word) for word in words)
    return total_syllables

# Example usage
input_string = "Hello world, this is a sample sentence."
result = count_syllables_in_string(input_string)

print("Number of syllables:", result)

Number of syllables: 10

In [ ]:
#Check if a string contains any special characters.

In [ ]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern for matching special characters
    pattern = re.compile(r'[^a-zA-Z0-9\s]')

    # Use re.search to check if the pattern is found in the string
    return bool(re.search(pattern, input_string))

# Example usage
string_with_special_chars = "Hello, World!"
string_without_special_chars = "Hello World"

result1 = contains_special_characters(string_with_special_chars)
result2 = contains_special_characters(string_without_special_chars)

print(f"{string_with_special_chars} contains special characters: {result1}")
print(f"{string_without_special_chars} contains special characters: {result2}")

Hello, World! contains special characters: True
Hello World contains special characters: False

In [ ]:
#Remove the nth word from a string.

In [ ]:
def remove_nth_word(input_string, n):
    words = input_string.split()

    if 1 <= n <= len(words):
        del words[n-1]  # Adjust for 0-based index
        result_string = ' '.join(words)
        return result_string
    else:
        return "Invalid index"

# Example usage
original_string = "This is a sample sentence with some words."
index_to_remove = 3
result = remove_nth_word(original_string, index_to_remove)

print("Original string:", original_string)
print(f"String after removing word at index {index_to_remove}:", result)

Original string: This is a sample sentence with some words.
String after removing word at index 3: This is sample sentence with some words.

In [ ]:
# Insert a word at the nth position in a string.

In [ ]:
def insert_word_at_nth_position(input_string, new_word, n):
    words = input_string.split()

    if 0 <= n <= len(words):
        words.insert(n, new_word)
        result_string = ' '.join(words)
        return result_string
    else:
        return "Invalid index"

# Example usage
original_string = "This is a sample sentence with some words."
word_to_insert = "new_word"
position_to_insert = 3
result = insert_word_at_nth_position(original_string, word_to_insert, position_to_insert)

print("Original string:", original_string)
print(f"String after inserting '{word_to_insert}' at position {position_to_insert}:", result)

Original string: This is a sample sentence with some words.
String after inserting 'new_word' at position 3: This is a new_word sample sentence with some words.

In [ ]:
#Convert a CSV string to a list of lists.

In [ ]:
import csv
from io import StringIO

def csv_string_to_list_of_lists(csv_string):
    # Create a CSV reader with a StringIO object
    csv_reader = csv.reader(StringIO(csv_string))

    # Convert the CSV reader to a list of lists
    list_of_lists = [row for row in csv_reader]

    return list_of_lists

# Example usage
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
result = csv_string_to_list_of_lists(csv_string)

for row in result:
    print(row)

['1', 'John', 'Doe']
['2', 'Jane', 'Smith']
['3', 'Bob', 'Johnson']

In [ ]:
#List Based Practice Problem :

In [ ]:
#Create a list with integers from 1 to 10

In [ ]:
  my_list = list(range(1, 11))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Find the length of a list without using the `len()` function.

In [ ]:
def custom_len(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

# Example usage
my_list = [1, 2, 3, 4, 5]
length = custom_len(my_list)

print("Length of the list:", length)

Length of the list: 5

In [ ]:
#Append an element to the end of a list.

In [ ]:
my_list = [1, 2, 3, 4, 5]
new_element = 6

# Append the new element to the end of the list
my_list.append(new_element)

print("Updated list:", my_list)

Updated list: [1, 2, 3, 4, 5, 6]

In [ ]:
#Insert an element at a specific index in a list

In [ ]:
my_list = [1, 2, 3, 4, 5]
new_element = 6
index_to_insert = 2

# Insert the new element at the specified index
my_list.insert(index_to_insert, new_element)

print("Updated list:", my_list)

Updated list: [1, 2, 6, 3, 4, 5]

In [ ]:
#Remove an element from a list by its value

In [ ]:
my_list = [1, 2, 3, 4, 5]
element_to_remove = 3

# Remove the specified element from the list
my_list.remove(element_to_remove)

print("Updated list:", my_list)

Updated list: [1, 2, 4, 5]

In [ ]:
# Remove an element from a list by its index.

In [ ]:
my_list = [1, 2, 3, 4, 5]
index_to_remove = 2

# Remove the element at the specified index
removed_element = my_list.pop(index_to_remove)

print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [1, 2, 4, 5]
Removed element: 3

In [ ]:
#Check if an element exists in a list

In [ ]:
my_list = [1, 2, 3, 4, 5]
element_to_check = 3

# Check if the element exists in the list
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

In [ ]:
#Find the index of the first occurrence of an element in a list

In [ ]:
my_list = [1, 2, 3, 4, 5]
element_to_find = 3

# Find the index of the first occurrence of the element
index = my_list.index(element_to_find)

print(f"The index of {element_to_find} is: {index}")

The index of 3 is: 2

In [ ]:
#Count the occurrences of an element in a list

In [ ]:
my_list = [1, 2, 3, 4, 2, 5, 2]
element_to_count = 2

# Count the occurrences of the element in the list
occurrences = my_list.count(element_to_count)

print(f"The element {element_to_count} occurs {occurrences} times in the list.")

The element 2 occurs 3 times in the list.

In [ ]:
#Reverse the order of elements in a list.

In [ ]:
my_list = [1, 2, 3, 4, 5]

# Reverse the order of elements using the reverse() method
my_list.reverse()

print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

In [ ]:
#Sort a list in ascending order

In [ ]:
# Sample list
my_list = [4, 2, 7, 1, 9, 5]

# Sorting the list in ascending order
sorted_list = sorted(my_list)

# Displaying the sorted list
print("Original list:", my_list)
print("Sorted list in ascending order:", sorted_list)

Original list: [4, 2, 7, 1, 9, 5]
Sorted list in ascending order: [1, 2, 4, 5, 7, 9]

In [ ]:
#Sort a list in descending order

In [ ]:
# Sample list
my_list = [4, 2, 7, 1, 9, 5]

# Sorting the list in descending order
sorted_list_descending = sorted(my_list, reverse=True)

# Displaying the sorted list in descending order
print("Original list:", my_list)
print("Sorted list in descending order:", sorted_list_descending)

Original list: [4, 2, 7, 1, 9, 5]
Sorted list in descending order: [9, 7, 5, 4, 2, 1]

In [ ]:
#Create a list of even numbers from 1 to 20.

In [ ]:
# Creating a list of even numbers from 1 to 20
even_numbers = [num for num in range(1, 21) if num % 2 == 0]

# Displaying the list of even numbers
print("List of even numbers from 1 to 20:", even_numbers)

List of even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
#Create a list of odd numbers from 1 to 20

In [ ]:
# Creating a list of odd numbers from 1 to 20
odd_numbers = [num for num in range(1, 21) if num % 2 != 0]

# Displaying the list of odd numbers
print("List of odd numbers from 1 to 20:", odd_numbers)

List of odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# Find the sum of all elements in a list.

In [ ]:
# Sample list
my_list = [3, 7, 2, 8, 5]

# Calculate the sum of all elements in the list
list_sum = sum(my_list)

# Displaying the sum
print("Sum of all elements in the list:", list_sum)

Sum of all elements in the list: 25

In [ ]:
#Find the maximum value in a list.

In [ ]:
# Sample list
my_list = [3, 7, 2, 8, 5]

# Find the maximum value in the list
max_value = max(my_list)

# Displaying the maximum value
print("Maximum value in the list:", max_value)

Maximum value in the list: 8

In [ ]:
#Find the minimum value in a list.

In [ ]:
# Sample list
my_list = [3, 7, 2, 8, 5]

# Find the minimum value in the list
min_value = min(my_list)

# Displaying the minimum value
print("Minimum value in the list:", min_value)

Minimum value in the list: 2

In [ ]:
#Create a list of squares of numbers from 1 to 10

In [ ]:
# Creating a list of squares of numbers from 1 to 10
squares = [num ** 2 for num in range(1, 11)]

# Displaying the list of squares
print("List of squares from 1 to 10:", squares)

List of squares from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
 #Create a list of random numbers.

In [ ]:
import random

# Creating a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Displaying the list of random numbers
print("List of random numbers:", random_numbers)

List of random numbers: [97, 50, 71, 87, 30]

In [ ]:
# Remove duplicates from a list

In [ ]:
# Sample list with duplicates
my_list = [2, 4, 6, 2, 8, 4, 10, 6]

# Remove duplicates by converting the list to a set and back to a list
unique_list = list(set(my_list))

# Displaying the list without duplicates
print("List without duplicates:", unique_list)

List without duplicates: [2, 4, 6, 8, 10]

In [ ]:
#Find the common elements between two lists.

In [ ]:
# Two sample lists
list1 = [2, 4, 6, 8, 10]
list2 = [5, 2, 8, 12, 10]

# Find the common elements using set intersection
common_elements = list(set(list1) & set(list2))

# Displaying the common elements
print("Common elements between the two lists:", common_elements)

Common elements between the two lists: [8, 2, 10]

In [ ]:
# Find the difference between two lists

In [ ]:
# Two sample lists
list1 = [2, 4, 6, 8, 10]
list2 = [5, 2, 8, 12, 10]

# Find the difference using set difference
difference_list1_minus_list2 = list(set(list1) - set(list2))
difference_list2_minus_list1 = list(set(list2) - set(list1))

# Displaying the differences
print("Elements in list1 but not in list2:", difference_list1_minus_list2)
print("Elements in list2 but not in list1:", difference_list2_minus_list1)

Elements in list1 but not in list2: [4, 6]
Elements in list2 but not in list1: [12, 5]

In [ ]:
#Merge two lists.

In [ ]:
# Two sample lists
list1 = [2, 4, 6, 8, 10]
list2 = [1, 3, 5, 7, 9]

# Merge the two lists using the extend() method
list1.extend(list2)

# Displaying the merged list
print("Merged list:", list1)

Merged list: [2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [ ]:
#Multiply all elements in a list by 2.

In [ ]:
# Sample list
my_list = [3, 7, 2, 8, 5]

# Multiply all elements by 2 using list comprehension
doubled_list = [element * 2 for element in my_list]

# Displaying the new list with doubled elements
print("Original list:", my_list)
print("List with elements multiplied by 2:", doubled_list)

Original list: [3, 7, 2, 8, 5]
List with elements multiplied by 2: [6, 14, 4, 16, 10]

In [ ]:
#Filter out all even numbers from a list

In [ ]:
# Sample list
my_list = [3, 7, 2, 8, 5]

# Filter out even numbers using list comprehension
filtered_list = [element for element in my_list if element % 2 != 0]

# Displaying the new list with odd numbers
print("Original list:", my_list)
print("List with even numbers filtered out:", filtered_list)

Original list: [3, 7, 2, 8, 5]
List with even numbers filtered out: [3, 7, 5]

In [ ]:
#Convert a list of strings to a list of integers

In [ ]:
# Sample list of strings
string_list = ['1', '2', '3', '4', '5']

# Convert the list of strings to a list of integers
integer_list = [int(element) for element in string_list]

# Displaying the new list of integers
print("Original list of strings:", string_list)
print("List of integers:", integer_list)

Original list of strings: ['1', '2', '3', '4', '5']
List of integers: [1, 2, 3, 4, 5]

In [ ]:
#Convert a list of integers to a list of strings

In [ ]:
# Sample list of integers
integer_list = [1, 2, 3, 4, 5]

# Convert the list of integers to a list of strings
string_list = [str(element) for element in integer_list]

# Displaying the new list of strings
print("Original list of integers:", integer_list)
print("List of strings:", string_list)

Original list of integers: [1, 2, 3, 4, 5]
List of strings: ['1', '2', '3', '4', '5']

In [ ]:
#Flatten a nested list.

In [ ]:
# Sample nested list
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Flatten the nested list using nested list comprehension
flattened_list = [element for sublist in nested_list for element in sublist]

# Displaying the flattened list
print("Original nested list:", nested_list)
print("Flattened list:", flattened_list)

Original nested list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Create a list of the first 10 Fibonacci numbers

In [ ]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    for _ in range(2, n):
        next_fibonacci = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list

# Generate the first 10 Fibonacci numbers
first_10_fibonacci = generate_fibonacci(10)

# Displaying the list
print("First 10 Fibonacci numbers:", first_10_fibonacci)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#Check if a list is sorted.

In [ ]:
def is_sorted(input_list):
    return all(input_list[i] <= input_list[i+1] for i in range(len(input_list)-1))

# Example usage
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [5, 3, 2, 4, 1]

print("Is the sorted list sorted?", is_sorted(sorted_list))  # True
print("Is the unsorted list sorted?", is_sorted(unsorted_list))  # False

Is the sorted list sorted? True
Is the unsorted list sorted? False

In [ ]:
#Rotate a list to the left by `n` positions

In [ ]:
def rotate_left(input_list, n):
    # Calculate the effective rotation index
    n = n % len(input_list)

    # Perform the rotation using slicing
    rotated_list = input_list[n:] + input_list[:n]

    return rotated_list

# Example usage
original_list = [1, 2, 3, 4, 5]

# Rotate the list to the left by 2 positions
rotated_list = rotate_left(original_list, 2)

# Displaying the rotated list
print("Original list:", original_list)
print("Rotated list:", rotated_list)

Original list: [1, 2, 3, 4, 5]
Rotated list: [3, 4, 5, 1, 2]

In [ ]:
#Rotate a list to the right by `n` positions.

In [ ]:
def rotate_right(input_list, n):
    # Calculate the effective rotation index
    n = n % len(input_list)

    # Perform the rotation using slicing
    rotated_list = input_list[-n:] + input_list[:-n]

    return rotated_list

# Example usage
original_list = [1, 2, 3, 4, 5]

# Rotate the list to the right by 2 positions
rotated_list = rotate_right(original_list, 2)

# Displaying the rotated list
print("Original list:", original_list)
print("Rotated list:", rotated_list)

Original list: [1, 2, 3, 4, 5]
Rotated list: [4, 5, 1, 2, 3]

In [ ]:
#Create a list of prime numbers up to 50

In [ ]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create a list of prime numbers up to 50
prime_numbers_up_to_50 = [num for num in range(2, 51) if is_prime(num)]

# Displaying the list of prime numbers
print("Prime numbers up to 50:", prime_numbers_up_to_50)

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
#Split a list into chunks of size `n`.

In [ ]:
def split_into_chunks(input_list, chunk_size):
    # Check for valid chunk size
    if chunk_size <= 0:
        raise ValueError("Chunk size must be greater than 0.")

    # Split the list into chunks using a loop
    chunks = [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

    return chunks

# Example usage
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Split the list into chunks of size 3
result_chunks = split_into_chunks(original_list, 3)

# Displaying the result
print("Original list:", original_list)
print("List split into chunks of size 3:", result_chunks)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List split into chunks of size 3: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [ ]:
#Find the second largest number in a list.

In [ ]:
def second_largest(input_list):
    # Check if the list has at least two elements
    if len(input_list) < 2:
        raise ValueError("List must have at least two elements.")

    # Sort the list in descending order and return the second element
    sorted_list = sorted(input_list, reverse=True)
    return sorted_list[1]

# Example usage
my_list = [5, 8, 2, 10, 3, 7]

# Find the second-largest number
result = second_largest(my_list)

# Displaying the result
print("Original list:", my_list)
print("Second-largest number:", result)

Original list: [5, 8, 2, 10, 3, 7]
Second-largest number: 8

In [ ]:
#Replace every element in a list with its square.

In [ ]:
# Original list
original_list = [1, 2, 3, 4, 5]

# Squaring each element
squared_list = [x**2 for x in original_list]

# Displaying the squared list
print(squared_list)

[1, 4, 9, 16, 25]

In [ ]:
#Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
# Original list
original_list = ['apple', 'banana', 'orange', 'grape']

# Converting the list to a dictionary
result_dict = {element: index for index, element in enumerate(original_list)}

# Displaying the resulting dictionary
print(result_dict)

{'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

In [ ]:
#Shuffle the elements of a list randomly.

In [ ]:
import random

# Original list
original_list = [1, 2, 3, 4, 5]

# Shuffling the list randomly
random.shuffle(original_list)

# Displaying the shuffled list
print(original_list)

[4, 1, 3, 2, 5]

In [ ]:
#Create a list of the first 10 factorial numbers

In [ ]:
import math

# Creating a list of the first 10 factorial numbers
factorial_numbers = [math.factorial(i) for i in range(1, 11)]

# Displaying the list
print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [ ]:
#Check if two lists have at least one element in common.

In [ ]:
# Two lists
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

# Check if there is at least one common element
common_elements = set(list1) & set(list2)

if common_elements:
    print("The lists have at least one common element:", common_elements)
else:
    print("The lists do not have any common elements.")

The lists have at least one common element: {5}

In [ ]:
#Remove all elements from a list

In [ ]:
# Original list
my_list = [1, 2, 3, 4, 5]

# Remove all elements from the list by assigning an empty list
my_list = []

# Display the modified list
print(my_list)

[]

In [ ]:
#Replace negative numbers in a list with 0

In [ ]:
# Original list with negative numbers
original_list = [1, -2, 3, -4, 5, -6]

# Replace negative numbers with 0
modified_list = [max(0, x) for x in original_list]

# Display the modified list
print(modified_list)

[1, 0, 3, 0, 5, 0]

In [ ]:
# Convert a string into a list of words.

In [ ]:
# Original string
original_string = "This is a sample string."

# Convert the string into a list of words
word_list = original_string.split()

# Display the list of words
print(word_list)

['This', 'is', 'a', 'sample', 'string.']

In [ ]:
#Convert a list of words into a string

In [ ]:
# Original list of words
word_list = ["This", "is", "a", "sample", "list"]

# Convert the list of words into a string
result_string = ' '.join(word_list)

# Display the resulting string
print(result_string)

This is a sample list

In [ ]:
#Create a list of the first `n` powers of 2

In [ ]:
# Define the value of n
n = 5  # Example: Get the first 5 powers of 2

# Create a list of the first n powers of 2
powers_of_2 = [2 ** i for i in range(n)]

# Display the list of powers of 2
print(powers_of_2)

[1, 2, 4, 8, 16]

In [ ]:
#Find the longest string in a list of strings.

In [ ]:
# Original list of strings
string_list = ["apple", "banana", "kiwi", "strawberry", "orange"]

# Find the longest string in the list
longest_string = max(string_list, key=len)

# Display the longest string
print("The longest string is:", longest_string)

The longest string is: strawberry

In [ ]:
#Find the shortest string in a list of strings

In [ ]:
# Original list of strings
string_list = ["apple", "banana", "kiwi", "strawberry", "orange"]

# Find the shortest string in the list
shortest_string = min(string_list, key=len)

# Display the shortest string
print("The shortest string is:", shortest_string)

The shortest string is: kiwi

In [ ]:
#Create a list of the first `n` triangular numbers.

In [ ]:
# Define the value of n
n = 5  # You can change this to the desired number of triangular numbers

# Create a list of the first n triangular numbers
triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]

# Display the list of triangular numbers
print(triangular_numbers)

[1, 3, 6, 10, 15]

In [ ]:
#Check if a list contains another list as a subsequence.

In [ ]:
def is_subsequence(subseq, main_list):
    subseq_len = len(subseq)
    main_len = len(main_list)

    # Edge case: an empty subsequence is always a subsequence
    if subseq_len == 0:
        return True

    # Initialize indices for both lists
    subseq_index = 0
    main_index = 0

    # Iterate through the main list
    while main_index < main_len:
        # If the current element in the main list matches the current element in the subsequence
        if main_list[main_index] == subseq[subseq_index]:
            subseq_index += 1  # Move to the next element in the subsequence

            # If all elements of the subsequence are found
            if subseq_index == subseq_len:
                return True

        main_index += 1  # Move to the next element in the main list

    return False  # Subsequence not found

# Example usage
main_list = [1, 2, 3, 4, 5, 6, 7]
subsequence = [3, 5, 7]

result = is_subsequence(subsequence, main_list)

if result:
    print("The subsequence is present in the main list.")
else:
    print("The subsequence is not present in the main list.")

The subsequence is present in the main list.

In [ ]:
#Swap two elements in a list by their indices.

In [ ]:
# Original list
my_list = [10, 20, 30, 40, 50]

# Indices of the elements to swap
index1 = 1
index2 = 3

# Check if the indices are valid
if 0 <= index1 < len(my_list) and 0 <= index2 < len(my_list):
    # Swap the elements by their indices
    my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

    # Display the modified list
    print(my_list)
else:
    print("Invalid indices for swapping.")

[10, 40, 30, 20, 50]

In [ ]:
#Tuple Based Practice Problem

In [ ]:
#Create a tuple with integers from 1 to 5.

In [ ]:
# Create a tuple with integers from 1 to 5
my_tuple = (1, 2, 3, 4, 5)

# Display the tuple
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
#Access the third element of a tuple.

In [ ]:
# Example tuple
my_tuple = (10, 20, 30, 40, 50)

# Access the third element (index 2) of the tuple
third_element = my_tuple[2]

# Display the result
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

In [ ]:
#Find the length of a tuple without using the `len()` function.

In [ ]:
# Example tuple
my_tuple = (10, 20, 30, 40, 50)

# Find the length of the tuple without using len()
tuple_length = 0
for _ in my_tuple:
    tuple_length += 1

# Display the length of the tuple
print("The length of the tuple is:", tuple_length)

The length of the tuple is: 5

In [ ]:
#Count the occurrences of an element in a tuple.

In [ ]:
# Example tuple
my_tuple = (10, 20, 30, 20, 40, 20, 50)

# Element to count
element_to_count = 20

# Count occurrences of the element in the tuple
occurrences = my_tuple.count(element_to_count)

# Display the result
print(f"The element {element_to_count} occurs {occurrences} times in the tuple.")

The element 20 occurs 3 times in the tuple.

In [ ]:
#Find the index of the first occurrence of an element in a tuple

In [ ]:
# Example tuple
my_tuple = (10, 20, 30, 20, 40, 20, 50)

# Element to find
element_to_find = 20

# Find the index of the first occurrence of the element in the tuple
index_of_first_occurrence = my_tuple.index(element_to_find)

# Display the result
print(f"The index of the first occurrence of {element_to_find} is: {index_of_first_occurrence}")

The index of the first occurrence of 20 is: 1

In [ ]:
#. Check if an element exists in a tuple.

In [ ]:
# Example tuple
my_tuple = (10, 20, 30, 40, 50)

# Element to check
element_to_check = 30

# Check if the element exists in the tuple
if element_to_check in my_tuple:
    print(f"The element {element_to_check} exists in the tuple.")
else:
    print(f"The element {element_to_check} does not exist in the tuple.")

The element 30 exists in the tuple.

In [ ]:
#Convert a tuple to a list.

In [ ]:
# Example tuple
my_tuple = (10, 20, 30, 40, 50)

# Convert the tuple to a list
my_list = list(my_tuple)

# Display the resulting list
print(my_list)

[10, 20, 30, 40, 50]

In [ ]:
#Convert a list to a tuple.

In [ ]:
# Example list
my_list = [10, 20, 30, 40, 50]

# Convert the list to a tuple
my_tuple = tuple(my_list)

# Display the resulting tuple
print(my_tuple)

(10, 20, 30, 40, 50)

In [ ]:
#Unpack the elements of a tuple into variables

In [ ]:
# Example tuple
my_tuple = (10, 20, 30)

# Unpack the elements into variables
a, b, c = my_tuple

# Display the unpacked variables
print("a =", a)
print("b =", b)
print("c =", c)

a = 10
b = 20
c = 30

In [ ]:
# Create a tuple of even numbers from 1 to 10.

In [ ]:
# Create a tuple of even numbers from 1 to 10
even_numbers_tuple = tuple(x for x in range(2, 11, 2))

# Display the tuple
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

In [ ]:
#Create a tuple of odd numbers from 1 to 10.

In [ ]:
# Create a tuple of odd numbers from 1 to 10
odd_numbers_tuple = tuple(x for x in range(1, 11, 2))

# Display the tuple
print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [ ]:
#Concatenate two tuples.

In [ ]:
# Example tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples
result_tuple = tuple1 + tuple2

# Display the concatenated tuple
print(result_tuple)

(1, 2, 3, 4, 5, 6)

In [ ]:
#Repeat a tuple three times.

In [ ]:
# Example tuple
original_tuple = (1, 2, 3)

# Repeat the tuple three times
repeated_tuple = original_tuple * 3

# Display the repeated tuple
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#Check if a tuple is empty.

In [ ]:
# Example tuple
my_tuple = ()

# Check if the tuple is empty
if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [ ]:
#Create a nested tuple.

In [ ]:
# Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Display the nested tuple
print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [ ]:
#Access the first element of a nested tuple.

In [ ]:
# Nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Access the first element of the first inner tuple
first_element = nested_tuple[0][0]

# Display the result
print("The first element of the nested tuple is:", first_element)

The first element of the nested tuple is: 1

In [ ]:
#Create a tuple with a single element.

In [ ]:
# Tuple with a single element
single_element_tuple = (42,)

# Display the tuple
print(single_element_tuple)

(42,)

In [ ]:
#Compare two tuples

In [ ]:
# Example tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare the tuples
if tuple1 == tuple2:
    print("Tuples are equal.")
else:
    print("Tuples are not equal.")

Tuples are not equal.

In [ ]:
#Delete a tuple

In [ ]:
# Example tuple
my_tuple = (1, 2, 3)

# Delete the entire tuple
del my_tuple

# Trying to access the tuple after deletion will raise an error
# print(my_tuple)  # This will raise a NameError: name 'my_tuple' is not defined

In [ ]:
#Slice a tuple

In [ ]:
# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Slice the tuple to get a portion
sliced_tuple = my_tuple[1:4]

# Display the sliced tuple
print(sliced_tuple)

(2, 3, 4)

In [ ]:
#Find the maximum value in a tuple.

In [ ]:
# Example tuple
my_tuple = (10, 5, 20, 15, 25)

# Find the maximum value in the tuple
max_value = max(my_tuple)

# Display the result
print("The maximum value in the tuple is:", max_value)

The maximum value in the tuple is: 25

In [ ]:
#Find the minimum value in a tuple

In [ ]:
# Example tuple
my_tuple = (10, 5, 20, 15, 25)

# Find the minimum value in the tuple
min_value = min(my_tuple)

# Display the result
print("The minimum value in the tuple is:", min_value)

The minimum value in the tuple is: 5

In [ ]:
# Convert a string to a tuple of characters

In [ ]:
# Example string
my_string = "hello"

# Convert the string to a tuple of characters
tuple_of_characters = tuple(iter(my_string))

# Display the result
print(tuple_of_characters)

('h', 'e', 'l', 'l', 'o')

In [ ]:
#Convert a tuple of characters to a string.

In [ ]:
# Example tuple of characters
tuple_of_characters = ('h', 'e', 'l', 'l', 'o')

# Convert the tuple to a string
result_string = ''.join(tuple_of_characters)

# Display the result
print(result_string)

hello

In [ ]:
#Create a tuple from multiple data types.

In [ ]:
# Example tuple with multiple data types
mixed_tuple = (1, 'hello', 3.14, True)

# Display the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [ ]:
#Check if two tuples are identical.

In [ ]:
# Example tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Check if the tuples are identical
if tuple1 == tuple2:
    print("The tuples are identical.")
else:
    print("The tuples are not identical.")

The tuples are identical.

In [ ]:
# Sort the elements of a tuple

In [ ]:
# Example tuple
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)

# Create a new tuple with sorted elements
sorted_tuple = tuple(sorted(my_tuple))

# Display the sorted tuple
print(sorted_tuple)

(1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9)

In [ ]:
#. Convert a tuple of integers to a tuple of strings.

In [ ]:
# Example tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert the tuple to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(x) for x in tuple_of_integers)

# Display the result
print(tuple_of_strings)

('1', '2', '3', '4', '5')

In [ ]:
#Convert a tuple of strings to a tuple of integers

In [ ]:
# Example tuple of strings
tuple_of_strings = ('1', '2', '3', '4', '5')

# Convert the tuple to a tuple of integers using map()
tuple_of_integers = tuple(map(int, tuple_of_strings))

# Display the result
print(tuple_of_integers)

(1, 2, 3, 4, 5)

In [ ]:
#Merge two tuples

In [ ]:
# Example tuples
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')

# Merge the two tuples
merged_tuple = tuple1 + tuple2

# Display the merged tuple
print(merged_tuple)

(1, 2, 3, 'a', 'b', 'c')

In [ ]:
#Flatten a nested tuple.

In [ ]:
# Example nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (4, 5, 6))

# Recursive function to flatten the tuple
def flatten_tuple(nested):
    flattened = []
    for item in nested:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Display the flattened tuple
print(flattened_tuple)

(1, 2, 3, 'a', 'b', 'c', 4, 5, 6)

In [ ]:
#Create a tuple of the first 5 prime numbers.

In [ ]:
# Example tuple of the first 5 prime numbers
prime_numbers_tuple = (2, 3, 5, 7, 11)

# Display the tuple
print(prime_numbers_tuple)

(2, 3, 5, 7, 11)

In [ ]:
#Check if a tuple is a palindrome.

In [ ]:
# Example tuple
my_tuple = (1, 2, 3, 2, 1)

# Check if the tuple is a palindrome
is_palindrome = my_tuple == my_tuple[::-1]

# Display the result
if is_palindrome:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

In [ ]:
# Create a tuple of squares of numbers from 1 to 5.

In [ ]:
# Create a tuple of squares of numbers from 1 to 5
squares_tuple = tuple(i**2 for i in range(1, 6))

# Display the tuple
print(squares_tuple)

(1, 4, 9, 16, 25)

In [ ]:
#Filter out all even numbers from a tuple.

In [ ]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

print(filtered_tuple)

(1, 3, 5, 7, 9)

In [ ]:
#Multiply all elements in a tuple by 2.

In [ ]:
original_tuple = (1, 2, 3, 4, 5)

multiplied_tuple = tuple(x * 2 for x in original_tuple)

print(multiplied_tuple)

(2, 4, 6, 8, 10)

In [ ]:
#Create a tuple of random numbers.

In [ ]:
import random

random_tuple = tuple(random.randint(1, 100) for _ in range(5))

print(random_tuple)

(11, 21, 19, 61, 28)

In [ ]:
#Check if a tuple is sorted.

In [ ]:
def is_sorted_tuple(input_tuple):
    return input_tuple == tuple(sorted(input_tuple))

# Example usage:
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

print(is_sorted_tuple(sorted_tuple))    # Output: True
print(is_sorted_tuple(unsorted_tuple))  # Output: False

True
False

In [ ]:
#Rotate a tuple to the left by `n` positions.

In [ ]:
def rotate_left_tuple(input_tuple, n):
    n = n % len(input_tuple)  # Ensure n is within the length of the tuple
    rotated_tuple = input_tuple[n:] + input_tuple[:n]
    return rotated_tuple

# Example usage:
original_tuple = (1, 2, 3, 4, 5)
n_positions = 2

rotated_tuple = rotate_left_tuple(original_tuple, n_positions)

print(rotated_tuple)

(3, 4, 5, 1, 2)

In [ ]:
# Rotate a tuple to the right by `n` positions.

In [ ]:
def rotate_right_tuple(input_tuple, n):
    n = n % len(input_tuple)  # Ensure n is within the length of the tuple
    rotated_tuple = input_tuple[-n:] + input_tuple[:-n]
    return rotated_tuple

# Example usage:
original_tuple = (1, 2, 3, 4, 5)
n_positions = 2

rotated_tuple = rotate_right_tuple(original_tuple, n_positions)

print(rotated_tuple)

(4, 5, 1, 2, 3)

In [ ]:
#Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
def generate_fibonacci(n):
    fibonacci_numbers = [0, 1]
    while len(fibonacci_numbers) < n:
        fibonacci_numbers.append(fibonacci_numbers[-1] + fibonacci_numbers[-2])
    return tuple(fibonacci_numbers)

# Example usage:
fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [ ]:
#Create a tuple from user input.

In [ ]:
# Get user input for elements of the tuple
input_str = input("Enter elements for the tuple separated by spaces: ")

# Convert the input string to a tuple
user_input_tuple = tuple(map(int, input_str.split()))

print("User input tuple:", user_input_tuple)

Enter elements for the tuple separated by spaces: (1, 2, 3, 4, 5)

ValueError: invalid literal for int() with base 10: '(1,'

In [ ]:
#Swap two elements in a tuple

In [ ]:
def swap_elements(input_tuple, index1, index2):
    # Convert the tuple to a list to make it mutable
    temp_list = list(input_tuple)

    # Swap the elements at the specified indices
    temp_list[index1], temp_list[index2] = temp_list[index2], temp_list[index1]

    # Convert the list back to a tuple
    swapped_tuple = tuple(temp_list)

    return swapped_tuple

# Example usage:
original_tuple = (1, 2, 3, 4, 5)
index_to_swap1 = 1
index_to_swap2 = 3

swapped_tuple = swap_elements(original_tuple, index_to_swap1, index_to_swap2)

print("Original tuple:", original_tuple)
print("Swapped tuple:", swapped_tuple)

Original tuple: (1, 2, 3, 4, 5)
Swapped tuple: (1, 4, 3, 2, 5)

In [ ]:
#Reverse the elements of a tuple

In [1]:
# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Reversed tuple
reversed_tuple = original_tuple[::-1]

# Print the result
print("Original Tuple:", original_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [2]:
#Create a tuple of the first `n` powers of 2

In [3]:
# Specify the value of n
n = 5

# Create a tuple of the first n powers of 2
powers_of_2_tuple = tuple(pow(2, i) for i in range(n))

# Print the result
print("Powers of 2 Tuple:", powers_of_2_tuple)

Powers of 2 Tuple: (1, 2, 4, 8, 16)

In [4]:
#Find the longest string in a tuple of strings

In [5]:
# Example tuple of strings
string_tuple = ("apple", "banana", "orange", "strawberry", "blueberry")

# Find the longest string
longest_string = max(string_tuple, key=len)

# Print the result
print("Longest String:", longest_string)

Longest String: strawberry

In [6]:
#Find the shortest string in a tuple of strings.

In [7]:
# Example tuple of strings
string_tuple = ("apple", "banana", "orange", "strawberry", "blueberry")

# Find the shortest string
shortest_string = min(string_tuple, key=len)

# Print the result
print("Shortest String:", shortest_string)

Shortest String: apple

In [8]:
#Create a tuple of the first `n` triangular numbers

In [9]:
# Specify the value of n
n = 5

# Create a tuple of the first n triangular numbers
triangular_numbers_tuple = tuple((i * (i + 1) // 2) for i in range(1, n + 1))

# Print the result
print("Triangular Numbers Tuple:", triangular_numbers_tuple)

Triangular Numbers Tuple: (1, 3, 6, 10, 15)

In [10]:
#Check if a tuple contains another tuple as a subsequence.

In [11]:
def is_subsequence(sub, main):
    # Find the index of the first element of sub in main
    start_index = main.index(sub[0]) if sub and sub[0] in main else -1

    # Check if sub is a subsequence starting from the found index
    return start_index != -1 and main[start_index:start_index + len(sub)] == sub

# Example tuples
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
sub_tuple = (3, 4, 5)

# Check if sub_tuple is a subsequence of main_tuple
result = is_subsequence(sub_tuple, main_tuple)

# Print the result
print("Is sub_tuple a subsequence of main_tuple?", result)

Is sub_tuple a subsequence of main_tuple? True

In [12]:
#Create a tuple of alternating 1s and 0s of length `n`.

In [13]:
# Specify the value of n
n = 8

# Create a tuple of alternating 1s and 0s
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the result
print("Alternating Tuple:", alternating_tuple)

Alternating Tuple: (0, 1, 0, 1, 0, 1, 0, 1)

In [14]:
#Set Based Practice Problem

In [15]:
#Create a set with integers from 1 to 5.

In [16]:
# Create a set with integers from 1 to 5 using set constructor
integer_set = set([1, 2, 3, 4, 5])

# Print the result
print("Integer Set:", integer_set)

Integer Set: {1, 2, 3, 4, 5}

In [17]:
#Add an element to a set.

In [18]:
# Original set
my_set = {1, 2, 3, 4, 5}

# Add an element to the set
my_set.add(6)

# Print the updated set
print("Updated Set:", my_set)

Updated Set: {1, 2, 3, 4, 5, 6}

In [19]:
#Remove an element from a set.

In [20]:
# Original set
my_set = {1, 2, 3, 4, 5}

# Remove an element from the set
my_set.remove(3)

# Print the updated set
print("Updated Set:", my_set)

Updated Set: {1, 2, 4, 5}

In [21]:
#Check if an element exists in a set.

In [22]:
# Original set
my_set = {1, 2, 3, 4, 5}

# Check if an element exists in the set
element_to_check = 3
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [23]:
#Find the length of a set without using the `len()` function

In [24]:
# Original set
my_set = {1, 2, 3, 4, 5}

# Find the length of the set without using len()
length = 0
for _ in my_set:
    length += 1

# Print the length
print("Length of the set:", length)

Length of the set: 5

In [25]:
# Clear all elements from a set.

In [26]:
# Original set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the updated set
print("Updated Set:", my_set)

Updated Set: set()

In [27]:
#Create a set of even numbers from 1 to 10

In [28]:
# Create a set of even numbers from 1 to 10
even_numbers_set = {i for i in range(1, 11) if i % 2 == 0}

# Print the result
print("Even Numbers Set:", even_numbers_set)

Even Numbers Set: {2, 4, 6, 8, 10}

In [29]:
#Create a set of odd numbers from 1 to 10

In [30]:
# Create a set of odd numbers from 1 to 10
odd_numbers_set = {i for i in range(1, 11) if i % 2 != 0}

# Print the result
print("Odd Numbers Set:", odd_numbers_set)

Odd Numbers Set: {1, 3, 5, 7, 9}

In [31]:
#Find the union of two sets.

In [32]:
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Using the union() method
union_result_method = set1.union(set2)

# Using the | operator
union_result_operator = set1 | set2

# Print the results
print("Union using union():", union_result_method)
print("Union using | operator:", union_result_operator)

Union using union(): {1, 2, 3, 4, 5, 6, 7, 8}
Union using | operator: {1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
#Find the intersection of two sets

In [34]:
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Using the intersection() method
intersection_result_method = set1.intersection(set2)

# Using the & operator
intersection_result_operator = set1 & set2

# Print the results
print("Intersection using intersection():", intersection_result_method)
print("Intersection using & operator:", intersection_result_operator)

Intersection using intersection(): {4, 5}
Intersection using & operator: {4, 5}

In [35]:
#Find the difference between two sets.

In [36]:
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Using the difference() method
difference_result_method = set1.difference(set2)

# Using the - operator
difference_result_operator = set1 - set2

# Print the results
print("Difference using difference():", difference_result_method)
print("Difference using - operator:", difference_result_operator)

Difference using difference(): {1, 2, 3}
Difference using - operator: {1, 2, 3}

In [37]:
#Check if a set is a subset of another set.

In [38]:
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Using issubset() method
is_subset_method = set2.issubset(set1)

# Using <= operator
is_subset_operator = set2 <= set1

# Print the results
print("Is set2 a subset of set1 using issubset():", is_subset_method)
print("Is set2 a subset of set1 using <= operator:", is_subset_operator)

Is set2 a subset of set1 using issubset(): True
Is set2 a subset of set1 using <= operator: True

In [39]:
#. Check if a set is a superset of another set.

In [41]:
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Using issuperset() method
is_superset_method = set1.issuperset(set2)

# Using >= operator
is_superset_operator = set1 >= set2

# Print the results
print("Is set1 a superset of set2 using issuperset():", is_superset_method)
print("Is set1 a superset of set2 using >= operator:", is_superset_operator)

Is set1 a superset of set2 using issuperset(): True
Is set1 a superset of set2 using >= operator: True

In [42]:
#Create a set from a list

In [43]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Create a set from the list
my_set = set(my_list)

# Print the result
print("Set from List:", my_set)

Set from List: {1, 2, 3, 4, 5}

In [44]:
#Convert a set to a list.

In [45]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list
my_list = list(my_set)

# Print the result
print("List from Set:", my_list)

List from Set: [1, 2, 3, 4, 5]

In [46]:
#Remove a random element from a set

In [47]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set using pop()
removed_element = my_set.pop()

# Print the updated set and the removed element
print("Updated Set:", my_set)
print("Removed Element:", removed_element)

Updated Set: {2, 3, 4, 5}
Removed Element: 1

In [48]:
#Pop an element from a set.

In [49]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set
popped_element = my_set.pop()

# Print the updated set and the popped element
print("Updated Set:", my_set)
print("Popped Element:", popped_element)

Updated Set: {2, 3, 4, 5}
Popped Element: 1

In [50]:
#Check if two sets have no elements in common.

In [51]:
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Check if the sets have no elements in common using isdisjoint()
are_disjoint = set1.isdisjoint(set2)

# Print the result
print("Are the sets disjoint?", are_disjoint)

Are the sets disjoint? True

In [52]:
#Find the symmetric difference between two sets.

In [53]:
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Using symmetric_difference() method
symmetric_difference_result_method = set1.symmetric_difference(set2)

# Using ^ operator
symmetric_difference_result_operator = set1 ^ set2

# Print the results
print("Symmetric Difference using symmetric_difference():", symmetric_difference_result_method)
print("Symmetric Difference using ^ operator:", symmetric_difference_result_operator)

Symmetric Difference using symmetric_difference(): {1, 2, 3, 6, 7, 8}
Symmetric Difference using ^ operator: {1, 2, 3, 6, 7, 8}

In [54]:
#Update a set with elements from another set.

In [55]:
# Original set
set1 = {1, 2, 3, 4, 5}

# Another set to update with
set2 = {4, 5, 6, 7, 8}

# Update set1 with elements from set2 using update()
set1.update(set2)

# Print the updated set
print("Updated Set:", set1)

Updated Set: {1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
#Create a set of the first 5 prime numbers.

In [57]:
# Create a set of the first 5 prime numbers
prime_numbers_set = {2, 3, 5, 7, 11}

# Print the result
print("Set of the first 5 prime numbers:", prime_numbers_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [58]:
#Check if two sets are identical.

In [59]:
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}

# Check if the sets are identical using ==
are_identical = set1 == set2

# Print the result
print("Are the sets identical using == ?", are_identical)

Are the sets identical using == ? True

In [60]:
#Create a frozen set.

In [61]:
# Create a regular set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a frozen set
frozen_set = frozenset(my_set)

# Print the frozen set
print("Frozen Set:", frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [62]:
#Check if a set is disjoint with another set.

In [63]:
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Check if the sets are disjoint using isdisjoint()
are_disjoint = set1.isdisjoint(set2)

# Print the result
print("Are the sets disjoint?", are_disjoint)

Are the sets disjoint? True

In [64]:
#Create a set of squares of numbers from 1 to 5.

In [65]:
# Create a set of squares of numbers from 1 to 5
squares_set = {i**2 for i in range(1, 6)}

# Print the result
print("Set of squares:", squares_set)

Set of squares: {1, 4, 9, 16, 25}

In [66]:
#Filter out all even numbers from a set.

In [67]:
# Original set
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out even numbers from the set
filtered_set = {x for x in original_set if x % 2 != 0}

# Print the result
print("Filtered Set (without even numbers):", filtered_set)

Filtered Set (without even numbers): {1, 3, 5, 7, 9}

In [68]:
#Multiply all elements in a set by 2.

In [69]:
# Original set
original_set = {1, 2, 3, 4, 5}

# Create a new set with elements multiplied by 2
multiplied_set = {x * 2 for x in original_set}

# Print the result
print("Original Set:", original_set)
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [70]:
#Create a set of random numbers.

In [71]:
import random

# Specify the number of random numbers
num_random_numbers = 5

# Create a set of random integers
random_set = {random.randint(1, 100) for _ in range(num_random_numbers)}

# Print the result
print("Random Set:", random_set)

Random Set: {68, 37, 6, 71, 54}

In [72]:
#Check if a set is empty

In [73]:
# Example set
my_set = set()

# Check if the set is empty
is_empty = not my_set

# Print the result
print("Is the set empty?", is_empty)

Is the set empty? True

In [74]:
#Create a nested set (hint: use frozenset).

In [75]:
# Create nested sets using frozensets
nested_set = {frozenset({1, 2, 3}), frozenset({'a', 'b', 'c'})}

# Print the result
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3}), frozenset({'b', 'c', 'a'})}

In [76]:
#Remove an element from a set using the discard method.

In [77]:
# Original set
my_set = {1, 2, 3, 4, 5}

# Remove an element from the set using discard()
element_to_remove = 3
my_set.discard(element_to_remove)

# Print the updated set
print("Updated Set:", my_set)

Updated Set: {1, 2, 4, 5}

In [78]:
#Compare two sets.

In [79]:
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}

# Compare sets using the == operator
are_equal = set1 == set2

# Print the result
print("Are the sets equal using ==?", are_equal)

Are the sets equal using ==? True

In [80]:
#Create a set from a string.

In [81]:
# Example string
my_string = "hello"

# Create a set from the string
my_set = set(my_string)

# Print the result
print("Set from String:", my_set)

Set from String: {'o', 'h', 'e', 'l'}

In [82]:
#Convert a set of strings to a set of integers

In [83]:
# Set of strings
set_of_strings = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers
set_of_integers = {int(x) for x in set_of_strings}

# Print the result
print("Set of Integers:", set_of_integers)

Set of Integers: {1, 2, 3, 4, 5}

In [84]:
#Convert a set of integers to a set of strings.

In [85]:
# Set of integers
set_of_integers = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
set_of_strings = {str(x) for x in set_of_integers}

# Print the result
print("Set of Strings:", set_of_strings)

Set of Strings: {'4', '5', '3', '2', '1'}

In [86]:
#Create a set from a tuple.

In [87]:
# Example tuple
my_tuple = (1, 2, 3, 4, 5)

# Create a set from the tuple
my_set = set(my_tuple)

# Print the result
print("Set from Tuple:", my_set)

Set from Tuple: {1, 2, 3, 4, 5}

In [88]:
#Convert a set to a tuple.

In [89]:
# Example set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a tuple
my_tuple = tuple(my_set)

# Print the result
print("Tuple from Set:", my_tuple)

Tuple from Set: (1, 2, 3, 4, 5)

In [90]:
#Find the maximum value in a set

In [91]:
# Example set
my_set = {1, 4, 2, 8, 5}

# Find the maximum value in the set
max_value = max(my_set)

# Print the result
print("Maximum value in the set:", max_value)

Maximum value in the set: 8

In [92]:
# Find the minimum value in a set.

In [93]:
# Example set
my_set = {1, 4, 2, 8, 5}

# Find the minimum value in the set
min_value = min(my_set)

# Print the result
print("Minimum value in the set:", min_value)

Minimum value in the set: 1

In [94]:
#Create a set from user input.

In [97]:
# Get user input as a comma-separated string
user_input_string = input("Enter elements separated by commas: ")

# Split the input string into a list of strings
input_elements = user_input_string.split(',')

# Convert the list of strings to a set of integers
user_set = set(map(int, input_elements))

# Print the result
print("Set from user input:", user_set)

Enter elements separated by commas: 10,6,2
Set from user input: {10, 2, 6}

In [98]:
#Check if the intersection of two sets is empty.

In [99]:
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Check if the intersection is empty using isdisjoint()
intersection_empty = set1.isdisjoint(set2)

# Print the result
print("Is the intersection empty using isdisjoint()?", intersection_empty)

Is the intersection empty using isdisjoint()? True

In [100]:
#Create a set of the first 5 Fibonacci numbers.

In [102]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Specify the number of Fibonacci numbers you want
num_fibonacci = 5

# Create a set of the first 5 Fibonacci numbers using the function
fibonacci_set = generate_fibonacci(num_fibonacci)

# Print the result
print(f"Set of the first {num_fibonacci} Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [103]:
# Remove duplicates from a list using sets

In [104]:
# Example list with duplicates
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates using sets
unique_list = list(set(my_list))

# Print the result
print("Original List:", my_list)
print("List with Duplicates Removed:", unique_list)

Original List: [1, 2, 2, 3, 4, 4, 5]
List with Duplicates Removed: [1, 2, 3, 4, 5]

In [105]:
#Check if two sets have the same elements, regardless of their count.

In [106]:
# Two sets with the same elements, regardless of count
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}

# Check if the sets have the same elements, regardless of count, using ==
have_same_elements = set1 == set2

# Print the result
print("Do the sets have the same elements, regardless of count?", have_same_elements)

Do the sets have the same elements, regardless of count? True

In [107]:
#Create a set of the first `n` powers of 2.

In [109]:
# Specify the number of powers of 2 you want
n = 5

# Create a set of the first n powers of 2 using a set comprehension
powers_of_2_set = {2 ** i for i in range(n)}

# Print the result
print(f"Set of the first {n} powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [110]:
# Find the common elements between a set and a list.

In [111]:
# Example set and list
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find the common elements using intersection()
common_elements = my_set.intersection(my_list)

# Convert the result to a list if needed
common_elements_list = list(common_elements)

# Print the result
print("Common Elements:", common_elements_list)

Common Elements: [3, 4, 5]

In [112]:
#Create a set of the first `n` triangular numbers

In [113]:
# Specify the number of triangular numbers you want
n = 5

# Create a set of the first n triangular numbers using a set comprehension
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}

# Print the result
print(f"Set of the first {n} triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [114]:
#Check if a set contains another set as a subset.

In [115]:
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set2 is a subset of set1 using issubset()
is_subset = set2.issubset(set1)

# Print the result
print("Is set2 a subset of set1 using issubset()?", is_subset)

Is set2 a subset of set1 using issubset()? True

In [116]:
#Create a set of alternating 1s and 0s of length `n`.

In [117]:
# Specify the length of the set
n = 5

# Create a set of alternating 1s and 0s using a set comprehension
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}

# Print the result
print(f"Set of alternating 1s and 0s of length {n}:", alternating_set)

Set of alternating 1s and 0s of length 5: {0, 1}

In [118]:
#Merge multiple sets into one.

In [120]:
# Multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge sets using union()
merged_set = set1.union(set2, set3)

# Print the result
print("Merged Set using union():", merged_set)

Merged Set using union(): {1, 2, 3, 4, 5, 6, 7}